DATABASE_URL="postgresql://...:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://...:5432/postgres"

JWT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/api/auth/google/callback"

GCS_BUCKET_NAME=""
GCS_PROJECT_ID=""
GCS_CLIENT_EMAIL=""
GCS_PRIVATE_KEY=""
